.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: var(--color-primary);
  font-size: 0.4rem;
  position: relative;
  text-indent: -625rem;
  transform: translateZ(0);
  animation-delay: -0.16s;
  margin: 0 auto;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -2.1rem;
  animation-delay: -0.32s;
}
.loader:after {
  left: 2.1rem;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 1.5rem 0 -0.8rem;
  }
  40% {
    box-shadow: 0 1.5rem 0 0;
  }
}
