.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 2rem;

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sentinelRef {
  justify-self: center;
  height: 5rem;

  @include respond(phone) {
    grid-column: span 2;
  }

  @include respond(tab-port) {
    grid-column: span 3;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
