.card {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: var(--border-sm);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.favourited {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;

  &__content {
    color: var(--color-primary);
    font-size: 2rem;
  }
}
